npp.8.8.5.portable.minimalist.x64/change.log
npp.8.8.5.portable.minimalist.x64/contextMenu.xml
npp.8.8.5.portable.minimalist.x64/doLocalConf.xml
npp.8.8.5.portable.minimalist.x64/langs.model.xml
npp.8.8.5.portable.minimalist.x64/license.txt
npp.8.8.5.portable.minimalist.x64/notepad++.exe
npp.8.8.5.portable.minimalist.x64/nppLogNulContentCorruptionIssue.xml
npp.8.8.5.portable.minimalist.x64/readme.txt
npp.8.8.5.portable.minimalist.x64/shortcuts.xml
npp.8.8.5.portable.minimalist.x64/stylers.model.xml
npp.8.8.5.portable.minimalist.x64/tabContextMenu_example.xml
npp.8.8.5.portable.minimalist.x64/themes/DarkModeDefault.xml
npp.8.8.5.portable.minimalist.x64/toolbarButtonsConf_example.xml
npp.8.8.5.portable.minimalist.x64/userDefineLangs/markdown._preinstalled.udl.xml
